form {
    max-width: 450px;
    margin: 30px auto;
    background: white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

body {
    background-color: silver;
}

input[type=text]
input[type=password] {
    padding: 10px;
    border-radius: 2px;
}

.required:after{
content: '*';
color: red;
}

input:focus{
    outline: 2px solid red;
    border-radius: 2px;
}

input:required:invalid {
    border: 1px solid red;
}

input:required:valid {
    border: 1px solid green;
}