form {
    max-width: 450px;
    margin: 30px auto;
    background: white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form fieldset {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 21px;
}

body {
    background-color: silver;
}

input[type=text]
input[type=password]
input[type=tel]
input[type=email]
input[type=number] {
    padding: 10px;
    border-radius: 2px;
}


.required:after{
content: '*';
color: red;
}

input:focus{
    outline: 2px solid red;
    border-radius: 2px;
}

input:required:invalid {
    border: 1px solid red;
    border-radius: 3px;
}

input:required:valid {
    border: 1px solid green;
    border-radius: 3px;
}

input[type=submit] {
    background: rgb(43, 39, 39);
    border: 0;
    border-radius: 3px;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

input[type=submit]:hover {
background: blue;
}

.radio_button {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    flex-wrap: wrap;
}
form fieldset p {
    flex: 0 0 100%;
    
}