body {
    background-color: gray;
}
.positon-relative {
    position: relative;
}
.form_container {
    position: relative;
    background: black;
    color: white;
    padding: 30px;
    margin: 30px auto;
    max-width: 300px;
    border-radius: 50px;
}

.fa-github {
    position: absolute;
    top: 10px;
    right: 40px;
    font-size: 50px;
}

.form_container > form {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label[for=search] {
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
}

input[type=search] {
    background-color: rgb(234, 228, 228);
    border: 0;
    padding: 10px 15px;
    border-radius: 20px;
    color: black;
}

input[type=search]::placeholder {
    color: rgb(129, 124, 124);
}

input[type=search]:focus {
    outline: 0;
    background: grey;
}

button[type=submit]{
    position: absolute;
    bottom: 9px;
    right: 11px;
    border: 0;
    background: black;
    color: white;
    font-size: 20px;
    padding: 3px 5px;
    border-radius: 50%;
    cursor: pointer;
}

button[type=submit]:hover {
    background: grey;
    color: black;
}

fieldset {
    border: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 10px;
}

legend {
    font-size: 15px;
}
