* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

body{
    background: grey;
}

.loginForm {
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        max-width: 400px;
        margin: 30px auto;
        padding: 30px;
        border-radius: 10px;        
}

fieldset{
    border: none;
    display: flex;
    flex-direction: column ;
    gap: 15px;

}
legend {
    font-weight: 800;
    border-bottom: 1px solid silver;
    padding: 15px;
    margin-bottom: 15px;
}

.field {
    display: flex;
    flex-direction: column;
}

.field label {
    order: -1;
}

.loginForm input:required ~ label::after {
    content:  '*';
    color:red
}
.loginForm input{
    border: 2px solid silver;
    padding: 5px;
    border-radius: 3px;
}
.loginForm input[type="submit"]{
    border: 0;
    background: darkorange;
    color: white;
    font-size: 1.3em;
}

